# wildcards
.deps
.dirstamp
.libs
*.la
*.lo
*.o
# specific files
/aclocal.m4
/autom4te.cache
/bindings/c/testcompile
/bindings/python/consus.c
/compile
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
/consus
/consus-availability-check
/consus-coordinator
/consus-create-data-center
/consus-debug
/consus-debug-client-configuration
/consus-debug-kvs-configuration
/consus-debug-txman-configuration
/consus-key-value-store
/consus-set-default-data-center
/consus-transaction-manager
/depcomp
/install-sh
/libconsus.pc
/libtool
/ltmain.sh
/m4
/Makefile
/Makefile.in
/man/consus.1
/man/consus.1.h2m
/man/consus-availability-check.1
/man/consus-availability-check.1.h2m
/man/consus-coordinator.1
/man/consus-coordinator.1.h2m
/man/consus-create-data-center.1
/man/consus-create-data-center.1.h2m
/man/consus-debug.1
/man/consus-debug.1.h2m
/man/consus-debug-client-configuration.1
/man/consus-debug-client-configuration.1.h2m
/man/consus-debug-kvs-configuration.1
/man/consus-debug-kvs-configuration.1.h2m
/man/consus-debug-txman-configuration.1
/man/consus-debug-txman-configuration.1.h2m
/man/consus-key-value-store.1
/man/consus-key-value-store.1.h2m
/man/consus-set-default-data-center.1
/man/consus-set-default-data-center.1.h2m
/man/consus-transaction-manager.1
/man/consus-transaction-manager.1.h2m
/missing
/stamp-h1
/test/paxos/generalized
/test/paxos/generalized-brute-force
